function SnakeGame.new 0
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push constant 10
    push constant 10
    push constant 31
    push constant 4
    push constant 511
    push constant 255
    call Snake.new 6
    pop this 0
    push constant 0
    pop this 1
    push pointer 0
    return
function SnakeGame.dispose 0
    push argument 0
    pop pointer 0
    push this 0
    call Snake.dispose 1
    pop temp 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return
function SnakeGame.run 1
    push argument 0
    pop pointer 0
label SnakeGame_0
    push this 1
    not
    not
    if-goto SnakeGame_1
label SnakeGame_2
    push local 0
    push constant 0
    eq
    not
    if-goto SnakeGame_3
    call Keyboard.keyPressed 0
    pop local 0
    push this 0
    call Snake.move 1
    pop temp 0
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto SnakeGame_2
label SnakeGame_3
    push local 0
    push constant 87
    eq
    not
    if-goto SnakeGame_5
    push this 0
    push constant 0
    call Snake.setDirection 2
    pop temp 0
    goto SnakeGame_4
label SnakeGame_5
    push local 0
    push constant 68
    eq
    not
    if-goto SnakeGame_7
    push this 0
    push constant 1
    call Snake.setDirection 2
    pop temp 0
    goto SnakeGame_6
label SnakeGame_7
    push local 0
    push constant 83
    eq
    not
    if-goto SnakeGame_9
    push this 0
    push constant 2
    call Snake.setDirection 2
    pop temp 0
    goto SnakeGame_8
label SnakeGame_9
    push local 0
    push constant 65
    eq
    not
    if-goto SnakeGame_11
    push this 0
    push constant 3
    call Snake.setDirection 2
    pop temp 0
    goto SnakeGame_10
label SnakeGame_11
    push local 0
    push constant 131
    eq
    not
    if-goto SnakeGame_13
    push this 0
    call Snake.lengthen 1
    pop temp 0
    push this 0
    call Snake.getLength 1
    pop this 2
    push constant 22
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    push constant 8
    call String.new 1
    push constant 76
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push this 2
    call Output.printInt 1
    pop temp 0
    goto SnakeGame_12
label SnakeGame_13
    push local 0
    push constant 133
    eq
    not
    if-goto SnakeGame_15
    push this 0
    call Snake.shorten 1
    pop temp 0
    push this 0
    call Snake.getLength 1
    pop this 2
    push constant 22
    push constant 0
    call Output.moveCursor 2
    pop temp 0
    push constant 8
    call String.new 1
    push constant 76
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 58
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push this 2
    call Output.printInt 1
    pop temp 0
    goto SnakeGame_14
label SnakeGame_15
    push local 0
    push constant 140
    eq
    not
    if-goto SnakeGame_17
    push constant 1
    neg
    pop this 1
    goto SnakeGame_16
label SnakeGame_17
label SnakeGame_16
label SnakeGame_14
label SnakeGame_12
label SnakeGame_10
label SnakeGame_8
label SnakeGame_6
label SnakeGame_4
label SnakeGame_18
    push local 0
    push constant 0
    eq
    not
    push this 1
    not
    and
    not
    if-goto SnakeGame_19
    call Keyboard.keyPressed 0
    pop local 0
    push this 0
    call Snake.move 1
    pop temp 0
    push constant 50
    call Sys.wait 1
    pop temp 0
    goto SnakeGame_18
label SnakeGame_19
    goto SnakeGame_0
label SnakeGame_1
    push this 1
    not
    if-goto SnakeGame_21
    push this 0
    call Snake.getLength 1
    pop this 2
    push constant 10
    push constant 27
    call Output.moveCursor 2
    pop temp 0
    push constant 9
    call String.new 1
    push constant 71
    call String.appendChar 2
    push constant 97
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 79
    call String.appendChar 2
    push constant 118
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push this 2
    call Output.printInt 1
    pop temp 0
    goto SnakeGame_20
label SnakeGame_21
label SnakeGame_20
    push constant 0
    return