call Screen.clearScreen 0
pop temp 0
push constant 50
push constant 230
push constant 229
push constant 7
call Bat.new 0
pop temp 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 0
pop temp 0
push constant 400
push constant 0
call ball.setDestination 0
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 0
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 0
pop temp 0
push constant 8
push String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 0
pop temp 0
push constant 0
push constant 0
push constant 0
push constant 0
push pointer 0
call bat.dispose 0
pop temp 0
call ball.dispose 0
pop temp 0
push pointer 0
call Memory.deAlloc 0
pop temp 0
call PongGame.new 0
pop temp 0
push constant 0
eq
call Keyboard.keyPressed 0
pop temp 0
call bat.move 0
pop temp 0
call moveBall 0
pop temp 0
push constant 50
call Sys.wait 0
pop temp 0
push constant 130
eq
push constant 1
call bat.setDirection 0
pop temp 0
push constant 132
eq
push constant 2
call bat.setDirection 0
pop temp 0
push constant 140
eq
push constant 0
not
push constant 0
eq
call Keyboard.keyPressed 0
pop temp 0
call bat.move 0
pop temp 0
call moveBall 0
pop temp 0
push constant 50
call Sys.wait 0
pop temp 0
push constant 10
push constant 27
call Output.moveCursor 0
pop temp 0
push constant 9
push String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 0
pop temp 0
call ball.move 0
pop temp 0
push constant 0
eq
push constant 0
call bat.getLeft 0
pop temp 0
call bat.getRight 0
pop temp 0
call ball.getLeft 0
pop temp 0
call ball.getRight 0
pop temp 0
push constant 4
eq
or
push constant 10
add
push constant 1
push constant 10
sub
push constant 1
push constant 2
sub
call bat.setWidth 0
pop temp 0
push constant 1
add
push constant 22
push constant 7
call Output.moveCursor 0
pop temp 0
call Output.printInt 0
pop temp 0
call ball.bounce 0
pop temp 0
